<div class="mb-3">
    <label class="form-label" for="$$ID$$">$$LABEL$$</label>
    <input class="form-control" type="email" placeholder="$$PLACEHOLDER$$" value="$$VALUE$$" id="$$ID$$" name="$$ID$$">
    <div class="form-text">$$DESC$$</div>
</div>

$%$

{
    "defaultsForVariables" : {
        "PLACEHOLDER" : "",
        "VALUE" : "",
        "DESC" : ""
    }
}
