<div class="mb-3">
    <label class="form-label" for="$$ID$$">$$LABEL$$</label>
    <select id="$$ID$$" name="$$ID$$" class="form-select" $$MULTIPLE$$>
        $#CONTENT#$
    </select>
    <div class="form-text">$$DESC$$</div>
</div>

$%$

{
    "defaultsForVariables" : {
        "MULTIPLE" : "",
        "DESC" : ""
    }
}
