<div class="mb-3">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="$$ID$$" name="$$ID$$" $$CHECKED$$>
      <label class="form-check-label" >$$LABEL$$</label>
      <div class="form-text">$$DESC$$</div>
    </div>
</div>

$%$

{
    "defaultsForVariables" : {
        "CHECKED" : "",
        "DESC" : ""
    }
}
