<div class="mb-3">
    <label for="$$ID$$" class="form-label">$$LABEL$$</label>
    <input type="color" class="form-control form-control-color" id="$$ID$$" name="$$ID$$" value="$$VALUE$$" title="$$TITLE$$">
    <div class="form-text">$$DESC$$</div>
</div>

$%$

{
    "defaultsForVariables" : {
        "TITLE" : "Choose color",
        "MULTIPLE" : "",
        "VALUE" : "",
        "DESC" : ""
    }
}
