<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input" type="radio" id="$$ID$$" name="$$ID$$"  value="$$VALUE$$">
        <label class="form-check-label" for="$$ID$$">$$LABEL$$</label>
    </div>
</div>

$%$

{
    "defaultsForVariables" : {
        "VALUE" : ""
    }
}
