<div class="mb-3">
    <label for="$$ID$$" class="form-label">$$LABEL$$</label>
    <input class="form-control" type="file" value="$$VALUE$$" id="$$ID$$" name="$$ID$$" webkitdirectory directory $$MULTIPLE$$>
    <div class="form-text">$$DESC$$</div>
</div>

$%$

{
    "defaultsForVariables" : {
        "MULTIPLE" : "",
        "VALUE" : "",
        "DESC" : ""
    }
}
