</div>
    <label for="$$ID_DL$$" class="form-label">$$LABEL$$</label>
    <input class="form-control" list="datalistOptions" id="$$ID_DL$$" placeholder="$$PLACE_HOLDER$$">
    <datalist id="$$ID_DL_OPTIONS$$">
        $#OPTIONS#$
    </datalist>
</div>
