<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">$$BRAND_TXT$$</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#$$ID$$" aria-controls="$$ID$$" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="$$ID$$">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        $#CONTENT#$
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
