<tr>
    <td id="$$ID_KEY$$" class="$$OPT_CLASSES_KEY$$">$$LABEL$$</td>
    <td id="$$ID$$" class="$$OPT_CLASSES_VALUE$$">$$VALUE$$</td>
</tr>

$%$

{
    "defaultsForVariables" : {
        "ID_KEY" : "",
        "OPT_CLASSES_KEY" : "fw-bold",
        "OPT_CLASSES_VALUE" : "",
        "VALUE" : "-1"
    }
}

