<div>
    <h6 class="text-center" scope="col"><strong><i>$$LABEL$$</i></strong></h6>
    <table id="$$ID$$" class="table table-striped">
        <tbody>
            $#CONTENT#$
        </tbody>
    </table>
</div>

$%$

{
    "defaultsForVariables" : {
        "ID" : ""
    }
}
