<!-- $$ASPECT$$ in {0, table-primary, table-secondary, table-success, table-danger, table-warning, table-info, table-light, table-dark} -->
<!-- $$STRIP$$ in {0, table-striped, table-striped-columns} -->
<!-- $$HOVER$$ in {0, table-hover} -->
<!-- $$BORDER$$ in {table-bordered} -->
<!-- $$BORDER_ASPECT$$  in {0, border-primary, border-secondary, border-success, border-danger, border-warning, border-info, border-light, border-dark} -->

<table class="table $$STRIP$$ $$ASPECT$$ $$HOVER$$ $$BORDER$$ $$BORDER_ASPECT$$ $$OPT_CLASSES$$">
    <thead>
        $#HEADER#$
    </thead>
    <tbody>
        $#BODY#$
    </tbody>
</table>
