<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">$$MENU_NAME$$</a>
    <ul class="dropdown-menu">
        $#ITEMS#$
    </ul>
</li>
